@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 10px;
    font-family: Montserrat, sans-serif;
}
body {
    --background-color: rgb(244, 215, 228);
    min-height: 100vh;
    padding: 2rem 0rem;
    color: hsla(333, 60%, 29%, 0.8);
    background: var(--background-color);
    text-align: center;
    background: linear-gradient(
        90deg,
        rgba(176, 148, 219, 1) 1%,
        rgba(255, 174, 233, 1) 52%,
        rgba(249, 170, 250, 1) 58%,
        rgba(170, 255, 250, 0.8688725490196079) 96%
    );
}

h1 {
    font-size: 3.2rem;
    padding-top: 2rem;
}

h1 + p {
    font-size: 1.8rem;
    padding: 2rem 0 3rem;
}

a {
    text-decoration: none;
    color: hsla(333, 60%, 29%, 0.8);
}

ul {
    list-style: none;
}

nav {
    margin: 1.5rem 1.5rem 2.3rem 1.5rem;
    padding: 1rem;
}

nav > ul > li > a {
    font-size: 1.6rem;
}

nav > ul > li {
    padding: 0rem 2.5rem;
    display: inline;
}

#carta-vehiculo {
    position: relative;
    padding: 2rem 1rem 0.5rem 1rem;
    background-color: #f8f4f4;
    border-radius: 3rem;
    left: 50%;
    transform: translate(-50%);
    width: 42rem;
    height: auto;
    box-shadow: 0 0 5rem #00000025 inset;
}

#form-vehiculo {
    margin: 1.5rem;
    padding: 0.8rem;
}

#form-vehiculo > input {
    margin: 0.4rem 0.8rem 1.6rem 0.8rem;
}

#form-vehiculo > input:not(.btn) {
    border-radius: 0.5rem;
    font-family: "Righteous", sans-serif;
    color: rgba(241, 78, 179, 0.98);
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
}

#form-vehiculo > label {
    margin: 1.6rem 0.8rem 0.2rem 0.8rem;
    font-family: "Lato", sans-serif;
    color: rgba(241, 78, 179, 0.98);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 2px;
}

#form-vehiculo > input:not(.btn):valid {
    border-color: rgba(10, 248, 228, 0.869) !important;
    box-shadow: 0 0 3px rgba(170, 255, 250, 0.8688725490196079) !important;
}

#form-vehiculo input:not(.btn):invalid {
    border-color: rgb(203, 22, 22) !important;
    box-shadow: 0 0 3px rgb(250, 4, 4) !important;
    animation: alert 300ms !important;
}

.btn,
button {
    border: thin solid #444;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem 0 0;
    display: inline-block;
    background-color: #f3d0e0;
    color: #444;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.btn:hover,
button:hover {
    background-color: rgba(170, 255, 250, 0.8688725490196079);
}

.aceptar {
    background-color: rgb(34, 212, 34);
    color: white;
}

.rechazar {
    background: rgb(218, 26, 26);
    color: white;
}

/* repartidor html */

.tabla-ordenes {
    margin: 2rem 0 0 0;
    overflow-x: auto;
    padding: 1rem;
    box-shadow: 0 0 5rem #00000025 inset;
    width: 75%;
    border-collapse: collapse;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: #f8f4f4;
}

table,
th,
td {
    border: 2px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: hsla(333, 84%, 44%, 0.6);
    color: #fff;
}

/* pedido_aceptado.html */

.carta-aceptado {
    position: relative;
    left: 50%; 
    margin: 4rem 0rem;
    padding: 1.5rem 1rem;
    background-color: #f8f4f4;
    border-radius: 3rem;
    transform: translateX(-50%);
    width: 50rem;
    height: auto;
    box-shadow: 0 0 5rem #00000025 inset;
}

.carta-aceptado > * {
    margin: 1rem 0rem;
}

iframe {
    appearance: none;
    outline: none;
    border-radius: 3rem;
    border: 5px solid black;
    box-shadow: 0 0 5rem #00000025 inset;
}
